{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="menu" style="display: flex;">
    <a href="/" class="logo" style="display: inline-flex;">
      <img src = "{{site.url}}/assets/images/logo/loves vector.svg" alt="Loves" style="max-width: 100px;" />
    </a>    
    <ul style="display: inline-block;">      
      <!-- {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%} -->
      <li><a href="/">home</a></li>
      <li><a href="/microblog">microblog</a></li>
      <li><a href="/tags">tags</a></li>
      <li><a href="/about">about</a></li>
    </ul>
  </div>

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</header>