<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta property="og:image" content="{{site.url}}/assets/images/logo/loves.jpeg">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self' https://fonts.googleapis.com; img-src 'self'; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; media-src 'self'; object-src 'self'; child-src 'self'; form-action 'none'; base-uri 'self'" />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="alternate" type="application/rss+xml" title="RSS Articles" href="{{site.url}}/feed.xml">

{%- include head.html -%}

<body>
  <div class="container">

    {%- include header.html -%}

  <main>
    {{ content }}
  </main>

  {%- include footer.html -%}
  
  </div>

  <div id="zoom-popup" class="zoom-popup">
    <span id="close-popup" class="close-popup">&times;</span>
    <img id="zoomed-image" src="" alt="Zoomed Art">
  </div>
  <script src="{{site.url}}/js/script.js"></script>
</body>
</html>