---
layout: default
---
{%- if site.posts.size > 0 -%}
<ul class="post-list">
  {%- for post in site.posts -%}
  {%- assign date_format = "%b %-d, %Y" -%}
  <li>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
      </br>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
    </h3>
    </br>
      {% if post.content contains site.excerpt_separator %}
        {{ post.excerpt }} <a href="{{ post.url }}">[Read more]</a>
      {% else %}
        {{ post.content }}
      {% endif %}
    </br>
  </li>
  {%- endfor -%}
</ul>
{%- endif -%}