---
layout: default
---
{%- assign date_format = "%b %-d, %Y" -%}
<div class="micropost">
    <a class="post-meta-micro" href="{{url}}">{{ page.date | date: date_format }}</a>
    {{content}}
</div>

<div class="hackToGenerateContentPolicy" style="display: none;">
    <iframe class="giscus-frame giscus-frame--loading" title="Comments" scrolling="no" allow="clipboard-write" src="https://giscus.app/"></iframe>
</div>
<div class="postend"></div>
<div class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="ummshsh/ummshsh.github.io"
        data-repo-id="R_kgDOIf6XrQ"
        data-category="Ideas"
        data-category-id="DIC_kwDOIf6Xrc4CT5l5"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="https://ummshsh.github.io/cssGiscus/preferred_color_scheme.css"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>