---
layout: default
pagination:
  enabled: true
  collection: microblog
  per_page: 5
---

<!-- This loops through the paginated microposts -->
{% for post in paginator.posts %}
  {%- assign date_format = "%b %-d, %Y" -%}
  <div class="micropost">
    <a class="post-meta-micro" href="{{ post.url }}">{{ post.date | date: date_format }}</a>
    {{ post.content }}
    <a class="post-meta" href="{{ post.url }}">Comment</a>
  </div>
  <br>
{% endfor %}

<!-- Pagination links with page numbers -->
<div class="pagination">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      [ {{ page }} ]
    {% elsif page == 1 %}
      <a href="{{ '/microblog/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ '/microblog/page' | append: page | relative_url }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
</div>
