---
layout: default
---
<h1>
    {%- assign date_format = "%b %-d, %Y" -%}
    {{ page.title}}
    <br>
    <span class="post-meta">{{ page.date | date: date_format }}</span>
</h1>
{% if page.tags.size > 0 %}
    {%- for tag in page.tags -%}
        <a href="/tag/{{tag}}">{{tag}}</a>
        {% if page.tags.size > 1 and page.tags.size != forloop.index %}
            {{" | "}}
        {% endif %}
    {%- endfor -%}
{% endif %}
<br>
<br>
{{ content }}
<div class="hackToGenerateContentPolicy" style="display: none;">
    <iframe class="giscus-frame giscus-frame--loading" title="Comments" scrolling="no" allow="clipboard-write" src="https://giscus.app/"></iframe>
</div>
<div class="postend"></div>
<div class="giscus"></div>
    <script src="https://giscus.app/client.js" data-repo="ummshsh/ummshsh.github.io" data-repo-id="R_kgDOIf6XrQ"
    data-category="Q&A" data-category-id="DIC_kwDOIf6Xrc4CT5l4" data-mapping="pathname" data-strict="0"
    data-reactions-enabled="0" data-emit-metadata="1" data-input-position="top" data-theme="https://ummshsh.github.io/cssGiscus/preferred_color_scheme.css"
    data-lang="en" crossorigin="anonymous" async>
</script>