---
layout: default
---
<h1>Posts with `{{ page.tag }}` tag</h1>
<ul>
{% for post in page.posts %}
{%- assign date_format = "%b %-d, %Y" -%}
  <li>
    <h1 class="postHeader">
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h1>
    
    <span class="post-meta">{{ post.date | date: date_format }}</span><br>
    {%- for tag in post.tags -%}
      <a href="/tag/{{tag}}">{{tag}}</a>
      {% if post.tags.size > 1 and post.tags.size != forloop.index %}
      {{" | "}}
      {% endif %}
  {%- endfor -%}
  </li>
  <br>
{% endfor %}
</ul>
</br>
</br>
<h2>Tag cloud</h2>
<div id="tag-cloud">
  {{ site | tag_cloud }}
</div>